.login-container {
  display: flex;
  height: 100vh;
}

.left-side {
  width: 45%;
  padding: 40px;
  background: #7b849b;
}

.right-side {
  width: 55%;
  padding: 40px;
  background: #953535;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
}