.login-container {
  display: flex;
  height: 100vh;
}

.left-side {
  width: 45%;
  padding: 40px;
  background: #7b849b;
  background-image: url("./assets/exam-illustration.png") ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.left-side h1,p{
  color: #000;
}

.right-side {
  width: 55%;
  padding: 40px;
  background: #d5c1c1;
  justify-content: center;
  align-items: center;
  flex: 1;
  display: flex;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
}
.login-box{
  width: 100%;
  text-align: center;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 12px rgba(2,2,2,2);
 
}
.login-box h2 {margin-bottom: 20px;
  color: #000;
}
.form-group{
  width: 100%;
  margin-bottom: 15px;
  padding: 20px;
}
.form-group label {
  display: block;
  margin-bottom: 15px;
  font-size: 15px;
  color: #555;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
}
button{
  width: 100px;
  padding: auto;
  cursor: pointer;
}
.help-text{
  margin: 10px;
  font-size: 12px;
  color: #555;
}


